{% extends 'base.html' %}
{% load static %}

{% block content %}
	<div class="container">
		<h1>Add Event</h1>
		<hr>
		<div>
			<form action="{% url 'event:create' %}" method="post">
				{% csrf_token %}

				{{ create_form.errors }}
				{{ create_form.as_p }}

				<input class="btn btn-primary" type="submit" name="" value="SUBMIT">
			</form>
		</div>
	</div>
    <script type="text/javascript">
		$(document).ready(function(){
			$(".footer td:nth-of-type(3)").delay(10000).addClass('scramble_text');
		});
		$(function () {
		    $("#datetimepicker1").datetimepicker({
		      	format: 'DD/MM/YYYY HH:mm',
		    });
		});
	</script>
{% endblock %}
