{% extends 'base.html' %}
{% load static %}

{% block content %}
	<div class="container">
		<h1>
			{% if liked %}
				Liked
			{% endif %}
			Events
		</h1>
		<hr>
		<div>
			<table class="event-table">
				{% for event in events %}
					{% if not liked or liked and event.liked %}
						<tr>
							<td class="event-image">
								{% if event.event.image %}
							        <img src="{{ event.event.image.url }}">
							    {% else %}
							        <img src="{% static 'img/event_default.jpg' %}">
							    {% endif %}
							</td>
							<td class="event-details">
								<div class="event-name">{{ event.event.name }}</div>
								<div>{{ event.event.date }} {{ event.event.time|time:"h:i A" }}</div>
								<div>{{ event.event.location }}</div>
								<div class="like-container">
									{% if liked %}
										<a href="{% url 'event:toggle' event.event.pk 1 %}">
											{% if event.liked %}
												<i class="fas fa-heart liked-logo" ></i>
											{% else %}
												<i class="far fa-heart unliked-logo"></i>
											{% endif %}
										</a>
									{% else %}
										<a href="{% url 'event:toggle' event.event.pk 0 %}">
											{% if event.liked %}
												<i class="fas fa-heart liked-logo" ></i>
											{% else %}
												<i class="far fa-heart unliked-logo"></i>
											{% endif %}
										</a>
									{% endif %}
								</div>
							</td>
						</tr>
					{% endif %}
				{% endfor %}
			</table>
		</div>
	</div>
    <script type="text/javascript">
		$(document).ready(function(){
			$(".footer td:nth-of-type(3)").delay(10000).addClass('scramble_text');
		})
	</script>
{% endblock %}
